extends layout

block content
  h1 #{title}
  p Math.abs() is applied to #{num1} is #{num1}
  p Math.hypot() is applied to #{num1} is #{hypot}
  p Math.ceil() is applied to #{nnum2} is #{ceil}
  p Math.clz32() is applied to #{num3} is #{clz32}
  
